pymc==5.10.3
tellurium==2.2.8
antimony==2.13.2
libroadrunner==2.3.2
pandas==2.2.3
numpy==1.26.2
scipy==1.11.2
scikit-learn==1.3.0
matplotlib==3.9.2
Py-BOBYQA==1.4.1
openpyxl==3.1.2
seaborn==0.13.2
statsmodels==0.14.0
jupyterlab==4.3.3
